<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.<BR>
<B>Objectives:<B>
    <UL>
    <LI>List popular languages for Data Science </LI>
    <LI>List libraries used by Data Scientists </LI>
    <LI>Data Science tools </LI>
</UL>

Some of the popular languages that Data Scientists use are:
<OL>
    <LI>Python </LI>
    <LI>R </LI>
    <LI>SQL </LI>
</OL>

Some of the commonly used libraries used by Data Scientists include:
<OL>
    <LI>NumPy </LI>
    <LI>Matplotlib </LI>
    <LI>Pandas </LI>
</OL>

<TABLE>
    <TR>
        <TH> Data Science Tools</TH>
    </TR>          
    <TR>
        <TD> Jupyter Notebook</TD>
    </TR>
    <TR>
        <TD> Apache Zeppelin</TD>
    </TR>
    <TR>
        <TD> RStudio</TD>
    </TR>
</TABLE>

<H3>Below are a few examples of evaluating arithmetic expressions in Python.</H3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author </H2><BR>
    Himasha Devanji